.container{
    height: 100px;
    width: 100px;
    background-color: aqua;
    align-content: center;
    text-align: center;
}

@media (max-width:412px){
    #textportada{   
        font-size:100px !important;
        background-color: orange;
    }
}

#textportada{
    position: absolute;
    font-size: 10vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:1%;
    left: 5%;
}

